<%= flash_message%>

<style>
.field_with_errors input{
  border: 1px solid #F00;
}
</style>


<%if @entry.errors.any?%>
<h4>THERE SOME ERRORS IN THE DATA</h4>
  <ul>
    <% @entry.errors.full_messages.each do |err| %>
      <li><%= err %></li>
    <% end%>
  </ul>
<%else%>
  <p>NO HAY ERRORES</p>
<%end%>

<%= form_for [@project, @entry] do |f|%>
  <%= f.label :hours%>
  <%= f.text_field :hours%>
  <br>
  <%= f.label :minutes%>
  <%= f.text_field :minutes%>
  <br>
  <%= f.label :date%>
  <%= f.date_field :date%>
  <br>
  <%= f.submit 'Save'%>
<%end%>

<a <%=link_to('Back to entries', project_entries_path(@project))%></a>
